*{
    margin: 0;
    padding: 0;
}

body{
    font-family: arial, sans-serif;
    background-color: #b4e7e7;
}

header{
    background-color: #030507;
    color: rgb(223, 213, 213);
    text-align: center;
    padding: 1em;
}

.img-perfil{
    width: 10%;
    border-radius: 50%;
}

footer{
    background-color: #080808;
    color: white;
    text-align: center;
    padding: 1em;
}

.conteudo{
    background-color: rgb(255, 255, 255);
    padding: 0em !important;
    margin-top: 1em !important;
    border-radius: 30px !important;
    width: 100%;
}

a{
    text-decoration: none !important;
    color: black;
}

.principal{
    margin-right: 38% !important;
    margin-left: 38% !important;
    margin-top: 2% !important;
    margin-bottom: 1% !important;
}

.img-icone{
    width: 100% !important;
    margin-top: 1.5em;

}

.txt-icone{
    font-size: 120% !important;
    padding: 2em;
    text-align: left;
}

@media (min-width: 200px) and (max-width:768px){
    .img-icone{
        width: 300% !important;
    }

    .conteudo{
        background-color: white;
        padding: 2em !important;
        margin-top: 1em !important;
        border-radius: 30px !important;
        width: 100%;
    }
    
    
    .principal{
        text-align: center;
        margin-right: 10% !important;
        margin-left: 25% !important;
        margin-top: 1% !important;
        margin-bottom: 50% !important;
    }
    
    .img-perfil{
        width: 10% !important;
        border-radius: 50% !important;
    }


    
}

